@import "vars"
@import "fonts"
@import "libs"

@mixin shadow
	content: ""
	position: absolute
	bottom: 0
	z-index: 0
	width: 100%
	height: 46%
	background-image: linear-gradient(to top, rgba(82, 71, 58, 0.75) 0%, rgba(88, 76, 62, 0.44) 50%, rgba(255, 255, 255, 0.001) 85%)

@mixin shadow2
	content: ""
	position: absolute
	bottom: 0
	z-index: 0
	width: 100%
	height: 100%
	background-image: linear-gradient(to top, #3d342b 0%, rgba(31, 26, 22, 0.95) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);

@mixin border-bottom
	text-decoration: none
	border-bottom:
		width: 1px
		style: solid
		color: rgba(255,255,255,.3)

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: #fff
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.btn_link
	font-family: Cambria
	border-radius: 5px
	background-color: #fae300
	color: #010101
	font-weight: 400
	text-transform: uppercase
	letter-spacing: 0.14px
	font-style: 12px
	text-align: center
	display: flex
	align-items: center
	justify-content: center
	&:hover
		text-decoration: none
		color: #010101
		background-color: #e1cd00
	&.btn_link--big
		font-size: 16px
		width: 170px
		height: 48px

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

a
	color: #fff
	&:hover
		color: #fff
		text-decoration: underline

.wrap
	width: 100%
	max-width: 1266px
	background: #fff
	margin: 
		left: auto
		right: auto
	

header
	height: 940px
	position: relative

.title
	color: #000000
	font-family: Cambria
	font-size: 36px
	font-weight: 400
	line-height: 48px
	text-align: center
	margin-bottom: 24px
	&.upper
		text-transform: uppercase
		

//LEFT MENU
.left_menu
	width: 301px
	background-color: rgba(35,32,29,.75);
	opacity: 0.75
	height: 100VH
	position: fixed
	left: 0
	top: 0
	z-index: 10001

//TOP MENU
.header_top
	display: flex
	position: absolute
	width: 1170px
	margin: 0 auto;
	left: 50%
	transform: translateX(-50%)
	z-index: 101
	top: 0
	height: 84px
	padding: 25px 10px 20px
	border-bottom: 
		width: 1px
		style: solid
		color: rgba(255,255,255,.3)

.header_top--phone
	margin-right: 121px
	span
		display: block
		opacity: 0.5;
		color: #ffffff;
		font-family: Roboto;
		font-size: 12px;
		font-weight: 400;
		line-height: 14.4px;
	a
		color: #ffffff;
		font-family: Cambria;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		&:hover
			@include border-bottom

.header_top--menu
	margin-left: 15px
	display: flex
	flex-direction: column
.top_menu--links
	display: flex
	justify-content: flex-end
	.top_search, .top_favorite
		span
			color: #ffffff
			font-family: Roboto
			font-size: 12px
			font-weight: 400
			line-height: 14.4px
	.top_search span
		opacity: .5
	.top_favorite
		margin-left: 48px
.top_menu
	ul
		padding-left: 0
		list-style: none
		li
			display: inline-block
			a
				font-family: Cambria
				color: #ffffff
				font-size: 14px
				font-weight: 400
				line-height: 24px
				text-transform: uppercase
				&:hover
					@include border-bottom
			& + li
				margin-left: 15px


//MAIN SLIDER
.main_slider__item
	background-size: cover
	height: 940px
	background-position: top center
	position: relative
	&:before
		@include shadow
.slider
	.slider_content
		position: relative
		height: 100%
		display: flex
		justify-content: flex-end
		flex-direction: column
		max-width: 1170px
		margin: 0 auto
		padding-bottom: 195px
		color: #ffffff
	.slider_content--title
		font-size: 35px
		line-height: 1.35
		text-transform: uppercase
	.slider_content--desc
		font-size: 23px
		margin-bottom: 17px


section
	padding-top: 30px

.m_services
	padding-top: 52px
	margin-top: -120px
	position: relative
	z-index: 1

	
.main_slider.slick-slider
	.slick-dots
		list-style: none
		padding-left: 0
		position: absolute
		bottom: 143px
		left: 50%
		transform: translateX(-50%)
		li
			cursor: pointer
			display: inline-block
			margin: 0 7px
			background: transparent
			width: 10px
			height: 10px
			border: 1px solid transparent
			border-color: rgba(255,255,255,.5)
			border-radius: 50%
			&.slick-active
				background: white
		button
			display: none
	
.slick-slider
	.slick-dots
		list-style: none
		padding-left: 0
		text-align: center
		margin-bottom: 0
		li
			cursor: pointer
			display: inline-block
			margin: 0 7px
			background: transparent
			width: 10px
			height: 10px
			border: 1px solid transparent
			border-color: rgba(140,107,72,.5)
			border-radius: 50%
			&.slick-active
				background-image: linear-gradient(to top, #52473a 0%, #8c6b48 100%)
		button
			display: none
// end

// main services
.services_item
	margin-bottom: 52px
	height: 430px
	width: 270px
	background-position: top center
	background-size: contain
	background-repeat: no-repeat
	position: relative
	display: flex
	justify-content: flex-end
	flex-direction: column
	color: #fff
	// padding: 0 27px 35px
	&:hover
		justify-content: center
		&:before
			background-image: linear-gradient(to top, #3d342b 0%, #2a2828 100%);
		.services_item--inner
			margin-bottom: 0
	&:before
		@include shadow2
	.services_item--inner
		position: relative
		text-align: center
		height: 147px
		padding: 0 27px
		margin-bottom: 35px
		a
			font-size: 18px
			font-weight: 400
			line-height: 1
			text-transform: uppercase
			display: block
			margin-bottom: 20px
		p
			opacity: 0.75
			color: #ffffff
			font-family: Roboto
			font-size: 14px
			line-height: 1.4


//icon LIST
.icon_item
	display: flex
	height: 89px
	margin-bottom: 38px
.icon_item--img
	width: 72px
	padding-top: 8px
	border-right: 1px solid #d6d6d6
	img
		display: block
		margin: auto

.icon_item--desc
	padding: 5px 12px 0
	color: #000000
	font-size: 16px
	line-height: 24px
	width: 200px

//main projects
.proj_tabs__header
	height: 72px
	max-width: 366px
	border: 1px solid #beb7ac
	padding: 20px 20px 15px
	line-height: 1
	text-transform: uppercase
	display: block
	font-size: 16px
	color: #7c6c5a
	margin-bottom: 11px
	&:hover
		background-color: #eeecea
		border-color: #efeeea
		color: #7c6c5a
		text-decoration: none
	span
		font-family: Roboto
		display: block
		margin-top: 7px
		line-height: 1
		text-transform: none
		color: #ababab
		font-size: 13px


//MAIN CONTACT
.m_contact
	height: 441px
	padding: 62px 0 70px
	background-image: url('../img/bg_form.jpg')
	background-repeat: no-repeat
	background-position: top right
	.title
		color: #fff
		margin-bottom: 35px
.m_contact--content
	margin: 0 auto
	text-align: center
	max-width: 450px
	font-size: 24px
	font-weight: 700
	line-height: 24px
	color: #fff
	a
		display: block
		margin: 0 auto 30px
	small
		display: block
		font-size: 18px
		font-weight: 400
.m_contact_form
	width: 295px
	margin: 18px auto 0
	input
		width: 294px
		height: 36px
		box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15)
		border-radius: 5px
		border: 1px solid #cfc6c2
		background-color: transparent
		margin-bottom: 13px
		padding: 0 12px
		opacity: 0.8
		color: #ffffff
		font-size: 14px
		line-height: 36px
		&::placeholder
			opacity: 0.5
			color: #ffffff
			font-size: 14px
			line-height: 36px
	button
		border: none
		font-size: 12px
		letter-spacing: 0.14px
		text-transform: uppercase
		width: 189px
		height: 36px
		display: block
		margin: 0 auto
		cursor: pointer

//Проекты
.m_projects
	.nav-pills 
		display: flex
		flex-wrap: wrap
		margin-bottom: 24px
		.nav-item
			width: 33%
		.nav-link
			border-radius: 0
	.nav-pills .nav-link.active
		background-color: #eeecea
		border-color: #efeeea
		color: #7c6c5a
		text-decoration: none
	
	.tab-content
		margin-bottom: 70px


.slick-arrow
	position: absolute
	top: 50%
	width: 18px
	height: 32px
	background-repeat: no-repeat
	border: none
	text-indent: -9999px
	background-color: transparent
	margin-top: -16px
	cursor: pointer
	&:focus
		outline: none
	&.slick-prev
		left: -32px
		background-image: url('../img/arrow.png')
		transform: rotate(180deg)
		&:hover
			background-image: url('../img/arrow-hover.png')
			transform: rotate(0deg)
		
	&.slick-next
		right: -32px
		background-image: url('../img/arrow.png')
		&:hover
			background-image: url('../img/arrow-hover.png')
			transform: rotate(180deg)
	

		

.middle_slider
	max-width: 1000px
	margin: 0 auto
.middle_slider--item
	max-width: 486px
	height: 530px
	margin: 25px 15px
	box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.1)
	background-color: #ffffff
	
	.slider_img
		height: 304px
		overflow: hidden
	.slider_desc
		padding: 15px 22px 36px	
		h3
			font-size: 24px
			font-weight: 400
			margin-bottom: 17px
			line-height: 1
		span
			display: block
			font-size: 14px
			color: #808080
			font-family: Roboto
			line-height: 24px

	.slider_bottom
		margin-top: 18px
		display: flex
		justify-content: space-between
	.slider_bottom--price
		p
			font-size: 24px
			line-height: 30px
			margin-bottom: 0
		small
			font-size: 18px
			line-height: 24px
	.btn_link
		margin-top: 6px
		height: 37px
		width: 169px
		font-size: 12px
		text-transform: uppercase
		letter-spacing: 0.14px


//FOOTER
footer
	min-height: 340px
	background-color: #e6e6e6
	padding: 33px 0 22px





@import "media" // Always at the end
