@import "vars"
@import "fonts"
@import "libs"

@mixin shadow
	content: ""
	position: absolute
	bottom: 0
	z-index: 0
	width: 100%
	height: 46%
	background-image: linear-gradient(to top, rgba(82, 71, 58, 0.75) 0%, rgba(88, 76, 62, 0.44) 50%, rgba(255, 255, 255, 0.001) 85%)

@mixin shadow2
	content: ""
	position: absolute
	bottom: 0
	z-index: 0
	width: 100%
	height: 100%
	background-image: linear-gradient(to top, #3d342b 0%, rgba(31, 26, 22, 0.95) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);

@mixin border-bottom
	text-decoration: none
	border-bottom:
		width: 1px
		style: solid
		color: rgba(255,255,255,.3)

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: #fff
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.btn_link
	font-family: Cambria
	border-radius: 5px
	background-color: #fae300
	color: #010101
	font-weight: 400
	text-transform: uppercase
	letter-spacing: 0.14px
	font-style: 12px
	text-align: center
	display: flex
	align-items: center
	justify-content: center
	&:hover
		text-decoration: none
		color: #010101
	&.btn_link--big
		font-size: 16px
		width: 170px
		height: 48px

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

a
	color: #fff
	&:hover
		color: #fff
		text-decoration: underline

.wrap
	width: 100%
	max-width: 1266px
	background: #fff
	margin: 
		left: auto
		right: auto
	

header
	height: 940px
	position: relative

.title
	color: #000000
	font-family: Cambria
	font-size: 36px
	font-weight: 400
	line-height: 48px
	text-transform: uppercase
	text-align: center
	margin-bottom: 24px
	&.upper
		text-transform: uppercase
		

//LEFT MENU
.left_menu
	width: 301px
	background-color: rgba(35,32,29,.75);
	opacity: 0.75
	height: 100VH
	position: fixed
	left: 0
	top: 0
	z-index: 10001

//TOP MENU
.header_top
	display: flex
	position: absolute
	width: 1170px
	margin: 0 auto;
	left: 50%
	transform: translateX(-50%)
	z-index: 101
	top: 0
	height: 84px
	padding: 25px 10px 20px
	border-bottom: 
		width: 1px
		style: solid
		color: rgba(255,255,255,.3)

.header_top--phone
	margin-right: 121px
	span
		display: block
		opacity: 0.5;
		color: #ffffff;
		font-family: Roboto;
		font-size: 12px;
		font-weight: 400;
		line-height: 14.4px;
	a
		color: #ffffff;
		font-family: Cambria;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		&:hover
			@include border-bottom

.header_top--menu
	margin-left: 15px
	display: flex
	flex-direction: column
.top_menu--links
	display: flex
	justify-content: flex-end
	.top_search, .top_favorite
		span
			color: #ffffff
			font-family: Roboto
			font-size: 12px
			font-weight: 400
			line-height: 14.4px
	.top_search span
		opacity: .5
	.top_favorite
		margin-left: 48px
.top_menu
	ul
		padding-left: 0
		list-style: none
		li
			display: inline-block
			a
				font-family: Cambria
				color: #ffffff
				font-size: 14px
				font-weight: 400
				line-height: 24px
				text-transform: uppercase
				&:hover
					@include border-bottom
			& + li
				margin-left: 15px


//MAIN SLIDER
.main_slider__item
	background-size: cover
	height: 940px
	background-position: top center
	position: relative
	&:before
		@include shadow
.slider
	.slider_content
		position: relative
		height: 100%
		display: flex
		justify-content: flex-end
		flex-direction: column
		max-width: 1170px
		margin: 0 auto
		padding-bottom: 195px
		color: #ffffff
	.slider_content--title
		font-size: 35px
		line-height: 1.35
		text-transform: uppercase
	.slider_content--desc
		font-size: 23px
		margin-bottom: 17px


section
	padding-top: 30px

.m_services
	padding-top: 52px
	margin-top: -120px
	position: relative
	z-index: 1

.slick-slider
	.slick-dots
		list-style: none
		padding-left: 0
		position: absolute
		bottom: 143px
		left: 50%
		transform: translateX(-50%)
		li
			cursor: pointer
			display: inline-block
			margin: 0 7px
			background: transparent
			width: 10px
			height: 10px
			border: 1px solid transparent
			border-color: rgba(255,255,255,.5)
			border-radius: 50%
			&.slick-active
				background: white
		button
			display: none
	
// end

// main services
.services_item
	margin-bottom: 52px
	height: 430px
	width: 270px
	background-position: top center
	background-size: contain
	background-repeat: no-repeat
	position: relative
	display: flex
	justify-content: flex-end
	flex-direction: column
	color: #fff
	// padding: 0 27px 35px
	&:hover
		justify-content: center
		&:before
			background-image: linear-gradient(to top, #3d342b 0%, #2a2828 100%);
		.services_item--inner
			margin-bottom: 0
	&:before
		@include shadow2
	.services_item--inner
		position: relative
		text-align: center
		height: 147px
		padding: 0 27px
		margin-bottom: 35px
		a
			font-size: 18px
			font-weight: 400
			line-height: 1
			text-transform: uppercase
			display: block
			margin-bottom: 20px
		p
			opacity: 0.75
			color: #ffffff
			font-family: Roboto
			font-size: 14px
			line-height: 1.4


//icon LIST
.icon_item
	display: flex
	.icon_item--img
		width: 72px
		padding-top: 8px
		display: flex
		justify-content: center
		border-right: 1px solid #d6d6d6

//main projects
.proj_tabs__header
	height: 72px
	border: 1px solid #beb7ac
	padding: 25px 20px 17px
	line-height: 1
	text-transform: uppercase
	display: block
	font-size: 12px
	color: #beb7ac
	margin-bottom: 10px
	&:hover
		background-color: #efeeea
		border-color: #efeeea
		color: #beb7ac
		text-decoration: none
	span
		display: block
		margin-top: 10px
		text-transform: none
		color: #dadada
		font-size: 10px






@import "media" // Always at the end
